<div class='container'>
    <h3>Lançamentos</h3>
    <section class='slider'>
        <div class='slider_itens'>
            <ul class='container_hover'>
                <li class='item_slide ' *ngFor="let item of arrayFilmes"  (click)='getInfo(item)'>
                    <img src='{{item.image}}' />
                    <span class='informations'>
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                        <div class='buttons_item'>
                        <button routerLink='video/{{item.id}}'>
                            <mat-icon>play_arrow</mat-icon> Assistir
                        </button>
                           <span>  <mat-icon>pets</mat-icon>Favoritos</span>
                        </div>
                    </span>

                </li>
            </ul>
        </div>
    </section>
</div>