@import "../../../../sass/base";

.container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    h3 {
        margin-left: 50px;
        color: white;
    }
}
.slider {
    margin: 0px 10px;
    color: white;
    max-width: 100%;
    max-height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    .informations {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: 0.5s;
        animation: 1s animeInformations forwards;
        top: -30px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgb(41, 41, 41);
        h2,
        p {
            margin: 14px;
            z-index: -1;
            opacity: 0;
            transition: .3s;
        }
        button {
            display: flex;
            align-items: center;
            background-color: $title;
            color: white;
            margin-left: 30px;
            border: none;
            border-radius: 10px;
            padding: 10px;
            width: 100px;       
            opacity: 0;
            cursor: pointer;
        }
        .buttons_item {
            display: flex;
            align-items: center;
            span {
                display: flex;
                align-items: center;
                background-color: $title;
                color: white;
                margin-left: 30px;
                border: none;
                border-radius: 10px;
                padding: 10px;
                width: 100px;       
                cursor: pointer;
                opacity: 0;
                mat-icon {
                    padding-right: 10px;
                }
            }
        }
    }
    .slider_itens {
        position: relative;
        display: flex;
        gap: 20px;
        .container_hover {
            position: relative;
            display: flex;
            flex-direction: row;
            top: 0;
            bottom: 0;
            z-index: 99;
            list-style-type: none;
            height: 400px;
            margin-left: -40px;
        }
        .item_slide {
            position: relative;
            margin-left: 30px;
            width: 300px;
            height: 400px;
            border-radius: 20px;
            box-shadow: 0px 5px 10px rgb(41, 41, 41);
            &:hover {
               h2,
               p,
               button,
               span {
                   opacity: 1;
                   animation: animeInformations 1s forwards;
             
               }
            &:hover span{
                background-color: rgba(5, 5, 5, 0.281);
            }
         
            
            }
            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s;
                border-radius: 20px;
            }
        }
    }
}
.opacity {
    h2,
    p
     {
        opacity: 0;
    }
}

@media (max-width: 800px) {
    .slider {
        margin: 40px 0px;
        .informations p {
            height: 110px;
            overflow: scroll;
        }
        .buttons_item{
            flex-direction: column;
            span {
                margin-left: 0px !important;
                width: 79% !important;
            }
        }
        button {
                margin-left: 0px !important;
                border-radius: 10px;
                padding: 10px;
                width: 88% !important;       
                cursor: pointer;         
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        h3 {
            margin-left: 15px;
            color: white;
            margin-bottom: -5%;
        }
    }
    .item_slide {
        position: relative;
        margin-left: 10px !important;
        width: 195px !important;
        height: 403px !important;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgb(41, 41, 41);
        .container_hover {
            margin-left: -50px;
            height: 385px !important;
        }

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
            border-radius: 20px;
        }
    }
}
@keyframes opacityDown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animeUp {
    from {
        margin-top: 20px;
    }
    to {
        margin-top: 0;
    }
}
