<section class='login-page'>
  <div class='banner-image'>
      <img src='../../../../../assets/banner-phone.jpg' />
  </div>
<form>
  <h2 class='title'>Login</h2>
  <div class='form-field-class'>
    <label for='Usuario'>Usuario</label>
    <input class='input-class' type='text' id='Usuario' required />
    <span class='underline'></span>
  </div>

  <div class='form-field-class'>
    <label for='senha'>Senha</label>
    <input class='input-class' type='password'>
    <span class='underline'></span>
  </div>

  <div class='buttons-login'>
    <button mat-flat-button class='entrar'>Entrar</button>
    <button mat-flat-button routerLink='/register' class='register'>Cadastrar-se</button>
  </div>

  <div class='social-medias'>
    <a href='#'><img src='../../../../../assets/facebook.svg' /></a>
    <a href='#'><img src='../../../../../assets/instagram.svg' /></a>
  </div>
</form>
</section>