<header>
    <div class='menu'>
        <section class='menu-li'>
            <img src='../../../assets/catprime-white.png' width="150px" />
            <nav>
                <ul>
                    <li><mat-icon>local_movies</mat-icon>Filmes</li>
                    <li><mat-icon>live_tv</mat-icon>Séries</li>
                </ul>
            </nav>
        </section>
        <section class='login'>
            <button routerLink='login'>Login  <mat-icon aria-hidden="false">person</mat-icon>
            </button>
        </section>
    </div>
</header>