@import "../../../sass/base";

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $basebackground;
    padding: 10px;
    ul {
        display: flex;
    }
    li {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: white;
    }
    mat-icon {
        padding: 5px;
    }

    .menu-li {
        display: flex;
    }
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        color: white;
        button {
            display: flex;
            align-items: center;
            border: none;
            background-color: $title;
            color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: white;
                color: $title;
            }
        }
    }

}
.sidebar {
    display: none;
    position: relative;
    width: 100%;
    .hamburg {
        position: absolute;
        right: 25px;
        top: 10px;
        cursor: pointer;
    }
}
.sidebar-menus {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838e0;
    border-radius: 10px ;
    z-index: 99999;
    animation: opacityDown 1s forwards;
    margin-top: 70px;
    nav, 
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 10px 10px;
        color: white;
        text-decoration: none;
        list-style-type: none;
        z-index: 99999;
        float: right;

        li:hover {
            background-color: rgba(161, 160, 160, 0.787);
            color: black;
        }
    }
    mat-icon {
        padding-right: 10px;
    }
}

@media (max-width: 800px) {
    .menu {
        z-index: 9999;
        position: fixed;
        .menu-li nav {
            display: none;
        }
        .login img {
            display: none;
        }
    }
    .sidebar {
        display: block;
    }
}
