<app-header></app-header>
<div class='container_initial'>
    <div class='description'>
        <h2>Godzilla VS OWlKitty</h2>
        <span class='subtitle'>OwlKitty Parody</span>
        <p>A parody of Godzilla vs. Kong starring my cat OwlKitty. #OwlKitty​ #Godzilla​ #GodzillaVsKong</p>
        <div class='buttons-preview'>
            <button class='playnow'>
                <mat-icon>play_arrow</mat-icon>
                Ver agora
            </button>
            <button class='favorite'>
                <mat-icon>library_add</mat-icon>
                Favoritos
            </button>
        </div>
    </div>
    <div class='image_initial'></div>
    <span class='bg-gradient'></span>
</div>

<app-slider></app-slider>