.search_input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    input {
        margin-left: 50px;
        width: 250px;
        height: 30px;
        border-radius: 5px;
    }
    mat-icon{
        position: absolute;
        right: 0;
        cursor: pointer;

    }
}