<section class='emphassis'>
    <div class='image_emphassis'>
        <img src='../../../../assets/catvsgodzilla.jpg' />
        <span class='bg-gradient'></span>
    </div>
    <div class='description'>
        <h2>OwlKitty Parody</h2>
        <p>A parody of Godzilla vs. Kong starring my cat OwlKitty. #OwlKitty​ #Godzilla​ #GodzillaVsKong</p>
        <button class='button'>
            <mat-icon>play_arrow</mat-icon>
            Ver Agora
        </button>
    </div>
    <div class='video_iframe'>
        <youtube-player videoId="nf7GsKFepDg" suggestedQuality="highres" [height]="400" [width]="600"
            [startSeconds]="4">
        </youtube-player>
    </div>

</section>