<section class='emphassis'>
    <div class='image_emphassis'>
        <img src='../../../../assets/catvsgodzilla.jpg' />
        <span class='bg-gradient'></span>
    </div>
    <div class='description'>
        <h2>OwlKitty Parody</h2>
        <p>A parody of Godzilla vs. Kong starring my cat OwlKitty. #OwlKitty​ #Godzilla​ #GodzillaVsKong</p>
        <button class='button'>
            <mat-icon>play_arrow</mat-icon>
            Ver Agora
        </button>
    </div>
    <div class='video_iframe'>
        <video width="520" height="340" class='enhanced'  controls>    
        <source  src='../../../../assets/catzilla.mp4' />
        </video> 
    </div>

</section>